---
layout: default
title: Jerry Jiao
showpic: true
---
Hi
<div class="content-container">     <!-- content container, basically the body -->
<!-- Row 1 -->
  <div class="row-container">
    <div class="description content-box">
      <p>
        Hey! I'm a student at UC Berkeley with interest in software engineering, product development, and entrepreneurship. In my free time,
        I'm a passionate pianist, aloof stargazer, and avid learner of new things - jazz improv and solving a rubik's cube are next on my list!
      </p>
    </div>
  </div>
<!-- Row 2 -->
  <!-- Education -->
  <div class="row-container">
    <div class="education content-box">
      <h2>Education</h2>
      <div class="school-entry">
        <h3>University of California, Berkeley</h3>
        <p>2018 - 2022</p>
      </div>
      <p>Bachelor of Science in Electrical Engineering and Computer Science (EECS),  3.65 GPA</p>
      <div class="school-entry">
        <h3>Fraser Heights Secondary, BC, Canada</h3>
        <p>2014 - 2018</p>
      </div>
      <p>4.0 Unweighted GPA</p>
    </div>
  </div>
<!-- Row 3 -->
  <!-- Programming Languages -->
  <div class="row-container">
      <div class="languages content-box">
        <h2>Langauges</h2>
        <ul class="skill-ratings">
          {% for item in site.data.languages %}
          <li><h3>{{ item.name }}</h3><div class="bar-container"><div class="{{ item.class }} bar" style="color: {{ item.color }}"></div></div></li>
          {% endfor %}
        </ul>
      </div>
  <!-- Coursework -->
      <div class="classes content-box">
        <h2>Coursework</h2>
        <ul class="classes-list">
          {% for item in site.data.classes %}
          <li>{{ item.name }} <p>{{ item.description }}</p></li>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>

<!-- Links/Footer -->
<div class="footer">
  {% for item in site.data.links %}
  <a href="{{ item.link }}" style="background-image: url('{{ item.image }}');"></a>
  {% endfor %}
  <a href="mailto: jerryjiao@berkeley.edu" style="background-image: url('assets/images/email.png')"></a>
</div>
