.description { width: 100%; }
.languages { width: 39.5%; }
.classes { width: 59.5%; }

.education {
  width: 100%;
  display: flex;
  flex-direction: column;
  .school-entry {
    display: flex;
    justify-content: space-between;
  }
  p { font-weight: 200; line-height: 15px; margin-bottom: 10px; }
}

.skill-ratings {
  list-style-type: none;
  li {
    width: 100%;
    margin-bottom: 10px;
  }
  .bar-container {
    margin: 5px 0px 5px 0px;
    height: 10px;
    background-color: rgba(39 ,92 ,178, 0.1);
  }
  .bar {
    background-color: $color2;
    height: 100%;
  }
  .java { width: 90%; }
  .python { width: 90%; }
  .cplusplus { width: 75%; }
  .htmlcss { width: 80%; }
}

.classes-list {
  list-style-type: none;
  width: 100%;
  li {
    @include font('Open Sans', 15px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
